<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>测试demo</title>
<link rel="stylesheet" type="text/css" href="/css/hello.css" ></link>
<link rel="stylesheet" type="text/css" href="/plugs/bootstrap-3.3.7-dist/css/bootstrap.min.css" ></link>
<script src="/js/angular/angular-1.0.1.min.js"></script>
<script>
	var app = angular.module('app', []);
</script>
</head>
<body ng-app="app">

<div class="container">
	<table class="table">
		<tr>
			<td>姓名</td>
			<td>年龄</td>
			<td>手机号</td>
		</tr>
		<tr>
			<td>金子</td>
			<td>18</td>
			<td>110</td>
		</tr>
	</table>
</div>
	<p th:text="${name}"></p>
	<p>Hello {{'World'}}!</p>
</body>
</html>