<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>测试demo</title>
<link rel="stylesheet" type="text/css" href="/css/hello.css" ></link>
<link rel="stylesheet" type="text/css" href="/plugs/bootstrap-3.3.7-dist/css/bootstrap.min.css" ></link>
<script src="/js/angular/angular-1.0.1.min.js"></script>
<script>
	var app = angular.module('app', []);
</script>
</head>
<body ng-app="app">

<div class="container text-center">
	<p class="h1" th:text="${welcome}"></p>
	<a class="button" href="/init">let's begin</a>
</div>
	
</body>
</html>