<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>操作中心</title>
<link rel="stylesheet" type="text/css" href="/css/hello.css" ></link>
<link rel="stylesheet" type="text/css" href="/plugs/bootstrap-3.3.7-dist/css/bootstrap.min.css" ></link>
<script src="/js/angular/angular-1.0.1.min.js"></script>
<script>
	var app = angular.module('myApp', []);
	app.controller('deployCtrl', function($scope, $http) {
		$scope.deploy=function(){
			  $http.post("/deploy").success(function (response) {
				$scope.names = response.errCode;
				alert(response.errMsg);
			  });
		};
	});
</script>
</head>
<body ng-app="myApp">
<div class="container" ng-controller="deployCtrl"> 
<ul>
	<li> <a ng-click="deploy()">发布流程</a></li>
	<li> <a href="/askForLeave">我要请假</a></li>
	<li> <a href="/toClaimTaskList">待认领任务</a></li>
	<li> <a href="/myTaskList">我的审批任务</a></li>
</ul>
</div>
</body>
</html>