<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>审批任务</title>
<link rel="stylesheet" type="text/css" href="/css/hello.css" ></link>
<link rel="stylesheet" type="text/css" href="/plugs/bootstrap-3.3.7-dist/css/bootstrap.min.css" ></link>
<script src="/js/angular/angular-1.0.1.min.js"></script>


</head>
<body>
<div id="divMain" ng-app="myApp" ng-controller="myCtrl">
	<table class="table table-bordered">
		<tr ng-repeat="x in items">
			<td>{{ $index + 1 }}</td>
			<td ng-bind="x.id"></td>
			<td ng-bind="x.name"></td>
			<td ng-bind="x.time"></td>
		</tr>
	</table>
</div>
</body>
</html>