<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>审批任务</title>
<link rel="stylesheet" type="text/css" href="/css/hello.css" ></link>
<link rel="stylesheet" type="text/css" href="/plugs/bootstrap-3.3.7-dist/css/bootstrap.min.css" ></link>
<script src="/js/angular/angular-1.0.1.min.js"></script>


</head>
<body>
<div th:include="menu :: left" class="leftMenu"></div>
<div id="divMain" class="float_left divMain">
</div>
</body>
</html>