@CHARSET "UTF-8";
.color{
	font-size:20px;
	color:red;
}
.mairing-bottom-5{
	margin-bottom:5px;
}
.mairing-top-5{
	margin-top:5px;
}
.leftMenu{
	float:left;
	width:200px;
}
.float_left{
	float:left;
}
.divMain{
	width:800px;
}